
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables
# Exclude local environment settings.
.env.local
.env.development.local
.env.production.local
.env.test.local

# Turborepo
.turbo

# Drizzle
migrations/*. LATEST_OK
drizzle.config.ts.LATEST_OK

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Optional: Firebase emulators data
# firebase-data/
# *.firebase.json

# Optional: Mac files
.DS_Store
.AppleDouble
.LSOverride

# Optional: Windows Thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Optional: Compiled files #
# *.class
# *.exe
# *.o

# DVPanel specific data (if you want to ensure this local data is never committed)
# You already have .dvpanel_data in your settings, but explicitly adding it here is good practice.
/.dvpanel_data/
